<div class="container">
    <div class="colm-1">
        <div class="img-poster">
            <img src="/assets/photos/c.jpg" alt="dsds">
        </div>
        <div class="poster-info">
            <div class="info barlow-condensed-extralight titre">titref dfdfdddddddddfdfdfddfdfddf</div>
            <div class="info">
                <p-rating class="stars"  [(ngModel)]="score" [readonly]="true" [cancel]="false"></p-rating>
            </div>
            <div class="info direc">
                <div class="photo"><img   alt="dfd"></div>
                gfgfgfg
            </div>
        </div>
    </div>
    <div class="colm-2">
        <div class="info-2"><i class="bi bi-house-fill"></i>sall</div>
        <div class="info-2"><i class="bi bi-calendar-check-fill"></i>date</div>
        <div class="info-2"><i class="bi bi-alarm-fill"></i>time</div>
        <div class="info-2"><i class="bi bi-hourglass-split"></i>duree</div>
    </div>
</div>
