<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>

<nav th:replace="template :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
    <div th:replace="template :: sidebar"></div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Hey Admin !</h4>
                </div>
                <div class="panel-body">
                    <p>Remember with great power comes great responsibility</p>
                </div>
            </div>
        </div>
    

</div>
</div>



<div th:replace="template :: footer"></div>

</body>
</html>
