<nav class="navbar">
    <div class="navbar-1">
       <div class="logo jersey-20-regular">
        
        <!-- <img src="assets/photos/logo.png" alt="logo"> -->
        <a class="logo-hover" >CinemA</a>
        <i class="logo-hover bi bi-camera-reels"></i>
    </div>
       <ul class="teko">
        <li ><a class="color-pr" href="">Seances</a></li>
        <li><a class="nav-li-color" href="">Films</a></li>
        <li><a class="nav-li-color" href="">Register</a></li>
        <li><a class="nav-li-color" href="">LogIn</a></li>
       </ul>
    </div>
    <div class="navbar-2">
      <div class="search-container ">
        <input id="input-search" class="teko" placeholder="find your film " type="text"> 
        <div id="icon-search">
          <i  class="bi bi-search-heart"></i>
        </div>
      </div>
      <div class="filter-container">
        <div>filter</div>
        <div>filter</div>
        <div>filter</div>
      </div>
    </div>
  </nav>