<nav class="navbar">
    <div class="navbar-1">
       <div class="logo jersey-20-regular">
        
        <!-- <img src="assets/photos/logo.png" alt="logo"> -->
        <a routerLink="/seances" class="logo-hover" >CinemA</a>
        <i class="logo-hover bi bi-camera-reels"></i>
    </div>
       <ul class="teko">
        <li ><a  [ngClass]="{'nav-li-color': !isSeance , 'color-pr': isSeance }"  routerLink="/seances">Seances</a></li>
        <li><a [ngClass]="{'nav-li-color': !isFilms, 'color-pr': isFilms}" routerLink="/films">Films</a></li>
        <li><a class="nav-li-color" href="">Register</a></li>
        <li><a class="nav-li-color" href="">LogIn</a></li>
       </ul>
    </div>
    <div class="navbar-2">
      <div class="search-container ">
        <input id="input-search" class="teko"  [placeholder]="isFilms ? 'Find your film' : 'find your seance'" type="text"> 
        <div id="icon-search">
          <i  class="bi bi-search-heart"></i>
        </div>
      </div>
      <div class="filter-container">
        <div>
          <input type="text">
        </div>
        <div><input type="text"></div>
        <div><input type="date" ></div>
        <!-- titre genre nationalite -->
      </div>
    </div>
  </nav>