<nav class="navbar">
    <div class="navbar-1">
       <div class="logo jersey-20-regular">
        
        <!-- <img src="assets/photos/logo.png" alt="logo"> -->
        <a routerLink="/seances" class="logo-hover" >CinemA</a>
        <i class="logo-hover bi bi-camera-reels"></i>
    </div>
       <ul class="teko">
        <li ><a  [ngClass]="{'nav-li-color': !isSeance , 'color-pr': isSeance }"  routerLink="/seances">Seances</a></li>
        <li><a [ngClass]="{'nav-li-color': !isFilms, 'color-pr': isFilms}" routerLink="/films">Films</a></li>
        <li><a class="nav-li-color" href="">Register</a></li>
        <li><a class="nav-li-color" href="">LogIn</a></li>
       </ul>
    </div>
    <div class="navbar-2">
      <div class="search-container ">
        <input [(ngModel)]="searchText" (keyup)="onSearchFilm()" id="input-search" class="teko"  [placeholder]="isFilms ? 'Find your film' : 'find your seance'" type="text"> 
        <div id="icon-search">
          <i  class="bi bi-search-heart"></i>
        </div>
      </div>
      <div *ngIf="isFilms" class="filter-container">
        <div>
         <select  [(ngModel)]="genre">
          <option *ngFor="let genre of genres"  [text]="genre.name" [value] = "genre.name" ></option>
         </select>
        </div>
        <div>
          <select [(ngModel)]="nationalite">
          <option *ngFor="let nationalite of nationalites" [text]="nationalite.libelle" [value] = "nationalite.libelle" ></option>
         </select>
        </div>
        
        <!-- titre genre nationalite -->
      </div>
      <div *ngIf="isSeance" class="filter-container">
        <div><input [(ngModel)]="date" type="date" ></div>
        <!-- titre genre nationalite -->
      </div>
    </div>
  </nav>